$base-bg-color: #ffffff;
$post-bg-color: #ffffff;
$font-color: #222222;
$error-color: #d85151;
$post-font-color: rgba(0,0,0, 0.8);
$content-area-max-width: 960px;
$container-max-width: 85em;
$container-width: 90%;
$border-color: #d4d4d4;
$tag-color: #85A8CA;
$tag-hover-color: #317DC7;

// ajax loader
$loader-size: 10px;
$loader-color: #d85151;
$loader-bgColor: #fff;
$widthSpinner: 3px;
$loader-speed: 1.4s;